


/*SECTION*/
    .form1{
        position: relative;
        top: 30vh;
    }
    .txt-for{
        color: white;
        text-shadow: 0px 0px 20px #000000;
        margin-right: 1.5vw;
    }
    .label-class{
        border-radius: 0.5vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #00000077;
        margin-top: 5vh;
        height: 5vh;
        color: white;
        border: solid blueviolet 0.1vw;
    }
    #message-3b9a{
        height: 10vh;
    }

    .submit_Button{
        width: 10vw;
        height: 5vh;
        margin-top: 3vh;
        border-radius: 5vw;
        color: white;
        border: solid white 0.1vw;
        background-color: rgba(106, 0, 255, 0.409);
    }
 
 
 
 
 /*---- ESSENTIAL CLASS ----*/
 .center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fixed{
    position: fixed;
}
.relative{
    position: relative;
}



@keyframes fadeIn {
    0%{
    }
    100%{
    }
}


@media (max-width: 502px) {
    /*SECTION*/
    .form1{
        position: relative;
        top: 30vh;
    }
    .txt-for{
        color: white;
        text-shadow: 0px 0px 20px #000000;
        margin-right: 1.5vw;
    }
    .label-class{
        border-radius: 0.5vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #00000077;
        margin-top: 5vh;
        height: 5vh;
        color: white;
        border: solid blueviolet 0.1vw;
    }
    #message-3b9a{
        height: 10vh;
        width: 50vw;
        margin-top: 3vh;
    }

    .submit_Button{
        width: 30vw;
        height: 5vh;
        margin-top: 3vh;
        border-radius: 5vw;
        color: white;
        border: solid white 0.1vw;
        background-color: rgba(106, 0, 255, 0.409);
    }
 
}