*{
    margin: 0;
    padding: 0;
}

.center{ 
    display: flex;
   align-items: center;
   justify-content: center;
    text-align: center
}

#logo{
    width: 15%;
}
#bg-logo{
    width: 100%;
    height: 100vh;
}
.padding-txt{
    margin-left: 10vh;
}

.sec2{
    background: linear-gradient(red, rgb(255, 255, 255));
    width: 100%;
    height: 100%;
}

/*------------------------------*/
/*SOCIAL*/
.socialButton{
    border-radius: 10px;
    width: 50vh;
    height: 10vh;
    margin-top: 5vh;
    margin-left: 5vh;
}
#igButton{
    border: solid rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0);
}
#igButton:hover{
    border: solid rgb(251, 248, 248);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: rgba(255, 255, 0, 0.645);
    text-shadow: 0px 0px 10px #000000;
}
#ytButton{
    border: solid rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0);
}
#ytButton:hover{
    border: solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: #e61919;
    text-shadow: 0px 0px 10px #ffffff;
}

#mailButton{
    border: solid rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0);
}
#mailButton:hover{
    border: solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: #e61997;
    text-shadow: 0px 0px 10px #ffffff;
}

/*------------------------------*/
/*FOTO*/
#foto{
    width: 10%;
    position: relative;
    top: -35vh;
    left: 120vh;
    justify-content: center; 
    display: flex;
}
#foto1int{
    width: 40vh;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #000000;
}
#foto2int{
    margin-left: 5vh;
    width: 24vh;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #000000;
}
#foto3int{
    margin-left: 5vh;
    width: 40vh;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #000000;
}


/*-- MEDIA DEVICE --*/

/*telefono*/
@media (max-width: 1002px) {
    #logo{
        width: 30vh;
    }
    /*fare scroll immagini verso sinistra e destra*/
    #foto{
        width: 0%;
        height: 0%;
        top: 5vh;
        left: 10px;
    }
    #foto3int{
        margin-left: 100px;
        margin-top: -10px;
    }
    #foto1int{
        width: 30vh;
    }
    .socialButton{
        width: 25vh;
        margin-top: 10px;
    }
                /*scroll img*/
                .scrollin{
                    padding-left: 60vh;
                }
                .sc2{
                    width: 2px;
                    margin-left: -55vh;
                    margin-right: 30vh;
                    z-index: 1;
                }
                .sc3{
                    width: 2px;
                }

}


/*-- ANIMATION --*/
@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.fade-in{
    animation: fadeIn 2s;
}
#firma{
    width: 0%;
    height: 0%;
    opacity: 0%;
}
#firma2{
    height: 0%;
}

/*slide----------------------------------------------*/
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}