*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.fade-in-img{
    width: 0vw;
    height: 0vh;
}


/*SECTION*/
    .body--bg{
        background-repeat: no-repeat;
        background-size:contain;
        z-index: -1;
        top: -15vh;
        width: 100vw;
        background-color: black;
    }
    
    /*menu sec*/
    .menu--box{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 10vh;
        z-index: 2;
        background-image: linear-gradient(black, rgb(0, 0, 0), rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.525), rgba(255, 0, 0, 0));
    }
    .menu-in{
        position: relative;
        left: -5vw;
        z-index: 2;
    }

        /*text in menu*/
    .menu-t-in{
        font-size: 1vw;
        text-decoration: none;
        color: rgb(254, 254, 254);
        position: relative;
        top: 2vh;
        margin-left: 10vw;
        transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
    }
    .menu-t-in:hover{
        color: rgb(117, 184, 220);
        transition: all 0.4s cubic-bezier(.215, .61, .355, 1);
        font-size: 1.5vw;
        text-shadow: 2px 2px 20px #ffffff;
    }

    /*Home page*/
    .page{
        height: 100vh;
    }
    #logo{
        width: 40vw;
        height: 22vw;
        position: relative;
        top: 20vh;
        opacity: 80%;
    }
    .Button-box-social{
        width: 100vw;
        height: 40vh;
        position: relative;
        top: 10vh;
    }
    .socialButton{
        width: 15vw;
        height: 5vh;
        border-radius: 0.6vw;
        color: rgb(255, 254, 254);
        text-shadow: 0px 0px 5px #000000;
        background-color: rgba(240, 248, 255, 0);
        cursor: pointer;
        transition: all 0.4s cubic-bezier(.215, .61, .355, 1);
    }
    #igButton{
        border: 2px solid #ffffff;
        background-color: rgba(240, 248, 255, 0);
        transition: all 0.4s cubic-bezier(.215, .61, .355, 1);
    }
    #igButton:hover{border: 2px solid #faa700; transition: all 0.4s cubic-bezier(.215, .61, .355, 1);}
    
    #ytButton{
        border: 2px solid #ffffff;
        background-color: rgba(240, 248, 255, 0);
        position: relative;
        left: -20vw;
        top: -5vh;
        transition: all 0.4s cubic-bezier(.215, .61, .355, 1);
    }
    #ytButton:hover{border: 2px solid #fa0000; transition: all 0.4s cubic-bezier(.215, .61, .355, 1);}
    
    #mailButton{
        border: 2px solid #ffffff;
        background-color: rgba(240, 248, 255, 0);
        position: relative;
        left: 20vw;
        top: -10vh;
        transition: all 0.4s cubic-bezier(.215, .61, .355, 1);
    }
    #mailButton:hover{border: 2px solid #a7fa00; transition: all 0.4s cubic-bezier(.215, .61, .355, 1);
    }



    /*Chi sono*/
    #chi{
        width: 100vw;
        height: 100vh;
        position: relative;

        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(162, 0, 255, 0.183));
    }
    #storia{
        position: relative;
        top: 25vh;
        font-size: 1.5vw;
        color: white;
        text-shadow: 2px 2px 20px #000000;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    /*Contattami*/
    #contattami{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(rgba(162, 0, 255, 0.183), rgba(0, 0, 255, 0.173));
    }

 /*---- ESSENTIAL CLASS ----*/
.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fixed{
    position: fixed;
}
.relative{
    position: relative;
}
.black-bg{
    background-color: rgb(0, 0, 0);
}

.title-box{
    width: 100vw;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    position: relative;
    top: 10vh;
    text-shadow: 2px 2px 20px #b2b2b2d7;
}




@keyframes fadeIn {
    0%{
    }
    100%{
    }
}
@media (max-width: 502px) {
    @keyframes fadeIn-logo {
        0%{
            opacity: 0%;
        }
        50%{
            opacity: 0%;
        }
        100%{
            opacity: 100%;
        }
    }


    @keyframes fadeIn-logo-img {
        0%{
            opacity: 0%;
            width: 85vw;
            height: 25vh;
            margin-top: 40vh;
        }
        5%{
            opacity: 20%;
        }
        20%{
            opacity: 100%;
            width: 100vw;
            height: 25vh;
            margin-top: 40vh;
            position: relative;        
        }
        50%{
            opacity: 100%;
            width: 100vw;
            height: 25vh;
            margin-top: 40vh;
            position: relative;        
        }
        100%{
            opacity: 0%;
            margin-top: 0vh;
        }
    }
    
    .fade-in{
        animation: fadeIn-logo 2s;
    
    }
    
    .fade-in-img{
        animation: fadeIn-logo-img 2s;
        opacity: 100%;
        width: 0vw;
        height: 0vh;
    }
}