*{
    margin: 0;
    padding: 0;
}

.center{ 
    display: flex;
   align-items: center;
   justify-content: center;
    text-align: center
}

#logo{
    width: 15%;
}
#bg-logo{
    width: 100%;
    height: 100vh;
}
.padding-txt{
    margin-left: 10vh;
}

.sec2{
    background: linear-gradient(red, rgb(255, 255, 255));
    width: 100%;
    height: 100%;
}

/*------------------------------*/
/*SOCIAL*/
.socialButton{
    border-radius: 10px;
    width: 50vh;
    height: 10vh;
    margin-top: 5vh;
    margin-left: 5vh;
}
#igButton{
    border: solid rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0);
}
#igButton:hover{
    border: solid rgb(251, 248, 248);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: rgba(255, 255, 0, 0.645);
    text-shadow: 0px 0px 10px #000000;
}
#ytButton{
    border: solid rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0);
}
#ytButton:hover{
    border: solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: #e61919;
    text-shadow: 0px 0px 10px #ffffff;
}

#mailButton{
    border: solid rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0);
}
#mailButton:hover{
    border: solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: #e61997;
    text-shadow: 0px 0px 10px #ffffff;
}

/*------------------------------*/
/*FOTO*/
#foto{
    width: 10%;
    position: relative;
    top: -35vh;
    left: 120vh;
    justify-content: center; 
    display: flex;
}
#foto1int{
    width: 40vh;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #000000;
}
#foto2int{
    margin-left: 5vh;
    width: 24vh;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #000000;
}
#foto3int{
    margin-left: 5vh;
    width: 40vh;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #000000;
}

/*-- MEDIA DEVICE --*/
/*pc*/
@media (max-width: 1700px) {
    #foto3int{
        margin-left: -55vh;
        margin-top: 35vh;
        width: 40vh;
        border-radius: 10px;
        box-shadow: 2px 2px 20px #000000;
    }
}
/*tablet*/
@media (max-width: 1550px) {
    #foto3int{
        margin-top: 10vh;
        width: 35vh;
        border-radius: 10px;
        box-shadow: 2px 2px 20px #000000;
    }
    #foto3int{
        margin-left: -200px;
    }
    #foto2int{
        width: 0%;
        height: 0%;
    }
    #foto1int{
        width: 0%;
        height: 0%;
    }
    #foto3{
        width: 0%;
    }
    #foto2{
        width: 0%;
    }   
    #foto{
        width: 0%;
        left: 100vh;
    }

}
/*telefono*/
@media (max-width: 1002px) {
    #logo{
        width: 40vh;
    }
    #foto{
        width: 0%;
        height: 0%;
        top: 5vh;
        left: 10px;
    }
    #foto3int{
        margin-left: 100px;
        margin-top: -10px;
    }
    .socialButton{
        width: 40vh;
        margin-top: 10px;
    }
}


/*-- ANIMATION --*/
@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.fade-in{
    animation: fadeIn 2s;
}
#firma{
    width: 0%;
    height: 0%;
    opacity: 0%;
}
#firma2{
    height: 0%;
}