
:root {
    --color-txt: rgba(152, 152, 152, 1);

    --color1-bar: rgb(0, 0, 0);
    --color2-bar: rgb(36, 36, 36);
}

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* BARRA SCORRIMENTO */
    /* Stile per la scrollbar */
    ::-webkit-scrollbar {
        width: 10px; /* Larghezza della scrollbar verticale */
        height: 0px; /* Altezza della scrollbar orizzontale */
    }
    /* Stile per il track della scrollbar */
    ::-webkit-scrollbar-track {
        background: var(--color1-bar);
    }

    /* Stile per il thumb della scrollbar */
    ::-webkit-scrollbar-thumb {
        background: var(--color2-bar);
        border-radius: 3px; /* Angoli arrotondati */
    }

    /* Stile per il thumb della scrollbar quando è in hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        width: 0px;
    }
    ::-webkit-scrollbar-thumb:hover  {
        background: #555;
    }

    /* Stile per Firefox */
    body {
        scrollbar-width: 10px; /* Larghezza della scrollbar */
        scrollbar-color: --color2-bar --color1-bar; /* Colore del thumb e del track */
    }


    

.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}




/* font */
h1, a, h2, p{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;

    color: rgba(152, 152, 152, 1);
}
a{
    text-decoration: none;
}



/* tamplate menu */
.disc, header {
    width: 100%; height: 50px;   
    padding: 0;  
    /* border: solid red 2px; */
}
    header ul {
        display: flex;
        list-style-type: none;
        height: 100%
    }
    header ul li{
        margin-left: 50px;
        margin-right: 50px;
    }
    /* LOGO IMG */
    header img{
        height: 50px;
    }

body {background-color: black;}
.bg-img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;

    z-index: -1;
}


.title {
    padding-top: 20px;
    text-align: center;
    align-items: center;
    justify-items: center;

    width: 300px;

    color: rgba(152, 152, 152, 1);

    margin-left: 50px;
    margin-right: 50px;

}
    .title #line-title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* border: solid red 2px; */

        height: 50px;
        width: 100%;
    }

    .title #line-title div {
        border: solid rgba(152, 152, 152, 1) 2px;
        width: 50%;
    }






/* menu mobile */
.mobile-hamburger {
    scale: 1;
    opacity: 0;

    position: relative;

    margin-top: 10px;
    margin-right: 20px;

    width: 0px;
    height: 0px;
    z-index: 3;
}
.menu-mobile {    
    width: 0px;
    height: 100%;
    
    box-shadow: 2px 2px 500px rgba(0, 0, 0, 0.5);;
    
    position: fixed;
    top: 0;
    right: 0;
    
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    z-index: 1;
}
    .menu-mobile-cont {
        /* border: solid red 2px; */
        left: 20%;

        position: absolute;
        top: 200px;
        
    }
        .underline {
            width: 0px;
            height: 2px;


            transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
        }
        .menu-mobile-cont h1 a:hover ~ .underline {
            width: 100%;
            height: 2px;

            border-radius: 10px;
            background-color: var(--color-txt);

            transition: width 0.2s ease-in-out;
        }
    

    .line-menu {gap: 10px; }
    .mobile-hamburger .line-menu .circle {
        border-radius: 50% 50% 0% 0%;
        /* border: solid red 2px; */
        width: 10px;
        height: 10px;

        opacity: 1;
        
        margin-top: 0px;

        background-color: rgba(255, 255, 255, 0);
    }
    
    



@media (max-width: 810px) {
    .disc, header {
        width: 300px;
        /* border: solid red 2px; */
    }
    .disc li {
        scale: 0;
        width: 100%;
    }
        .title {
            /* border: solid red 2px; */
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            justify-items: center;
            
            width: 100%;
            margin: 0 0 0 0;
        }
        
        /* .title *{ border: solid red 2px;} */


        .mobile-hamburger {
        scale: 1;
        opacity: 1;
        /* border: solid red 2px; */

        width: 40px;
        height: 25px;

        position: absolute;

        display: flex;
        flex-wrap: wrap;
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        text-align: center;

        right: 10px;
        top: 10px;

        justify-content: end;

        cursor: pointer;
    }
    
    .mobile-hamburger .line-menu {
        margin-top: 5px;
        margin-bottom: 5px;
        
        width: 100%;
        height: 4px;
        
        background-color: white;
        
        transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    }
    /* se il menu è aperto */
    .mobile-hamburger-open .line-menu {
        transform: rotate(180deg);
    }
    .menu-mobile-open {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.849);
        transition: all 0.5s ease-in-out;
    }

    .mobile-hamburger #sec_line {opacity: 100%;}
    .mobile-hamburger-open #sec_line {
        opacity: 0%;
    }
    .mobile-hamburger-open .line-menu .circle {
        background-color: rgb(255, 255, 255);

        margin-top: -10px;
        transition: all 1s cubic-bezier(.215, .61, .355, 1);
    }
    
}


    


